# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases

# Next.js Build Output
/.next/
/out/
/build

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment Variables
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript cache
*.tsbuildinfo

# OS Metadata
.DS_Store
Thumbs.db
Desktop.ini

# IDE & Editor files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
